
:root {
    --size: 34.5%;
    --white: #ffffff;
    --theme: rgb(222, 120, 151);
    --black: rgb(0,0,0);
    --bkgbox: rgb(235, 207, 218);
    --darktext: rgb(17,15,37);
    --lighttheme: #E2B2EE;
    --imagemargin: 0px;

    --width: 30.5%;

    --gradientstart: rgb(226, 158, 158);
    --gradientend: rgb(158, 86, 218);
}
body {
    background-color: var(--white);
    margin: 0px;
}
html {
    box-sizing: border-box;
}
.bottom-line { 
    border-bottom: 3px solid var(--theme); 
    margin-top: 0.1px;
    margin-bottom: 0.1px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
.final {
    text-align: center;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color:var(--black);
    margin-top: 2px;
    padding: 2px;
    
    line-height: 2;
    word-spacing: 2px;   
}
.about-us-text {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
.item {
    width: var(--width);
    /*align-self: center;*/
    float: left;
    display: block;
    margin-right: auto;
    margin-left: 19.2%;
}
.item2 {
    width: var(--width);
    /*align-self: center;*/
    float: right;
    display: block;
    margin-left: auto;
    margin-right: 19.2%;
}

#avatar img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    max-width: 100%;
    /*padding: 1px 1px 1px 1px;*/
    -webkit-filter: drop-shadow(1px 1px 1px var(--white)) 
                    drop-shadow(-1px -1px 1px var(--white));
    filter:drop-shadow(1px 1px 1px var(--white)) 
           drop-shadow(-1px -1px 1px var(--white));
    display: block;
}

#avatar2 img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    max-width: 100%;
    display: block;
}
.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 70px) 80px;
    column-gap: 10px;
    /*background-color: var(--bkgbox);*/

    background-image: linear-gradient(to right, var(--gradientstart), var(--lighttheme));

    /*background-image: url("images/wavepurple.png");
    background-position-y: -700px;
    background-size: auto 110px;*/
    
    border-radius: 7px;
    border: 2px solid var(--theme); 
    max-height: 70px;
    margin: 0px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: minmax(0, 90px) minmax(0,300px);
    column-gap: 10px;
    background-image: linear-gradient(to right, var(--gradientstart), var(--lighttheme));
    border-radius: 7px;
    border: 2px solid var(--theme); 
    max-height: 84px;
    margin: 0px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(4, 4, 4);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 72px;
    background: -webkit-linear-gradient(left, var(--gradientstart) , var(--gradientend));
    background: -o-linear-gradient(right, var(--gradientstart), var(--gradientend));
     background: -moz-linear-gradient(right, var(--gradientstart), var(--gradientend));
     background: linear-gradient(to right, var(--gradientstart) , var(--gradientend)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--white);
    margin-bottom: 0px;
    padding: 0px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: var(--white);
    padding: 0px;
    margin-top: 0px;

    line-height: 1;
    word-spacing: 1px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 0px;
    padding: 0px;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background: -webkit-linear-gradient(left, var(--gradientstart) , var(--gradientend));
    background: -o-linear-gradient(right, var(--gradientstart), var(--gradientend));
     background: -moz-linear-gradient(right, var(--gradientstart), var(--gradientend));
    background: linear-gradient(to right, var(--gradientstart) , var(--gradientend)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    padding: 0px;
}
.center {
    margin: auto auto;
}
.right {
    float: right;
}

#hc {
    text-align: center;
}
*,*::before,*::after{
    box-sizing: inherit;
}
.wave-container {
    position: relative;
    background: rgb(255, 255, 255);
    color: #FFF;
    text-align: center;
    overflow: hidden;
}
@keyframes animateWave {
    0% {
        transform: scale(1,0.75);
    }
    50% {
        transform: scale(1,0.93);
    }
    100%{
        transform: scale(1,0.75);
    }
}
.wave-container > svg {
    display: block;
    transform-origin: top;
    animation: animateWave 3500ms cubic-bezier(0.23, 0.2, 0.32, 0.2) backwards infinite;
}
.wave-container2 > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 3500ms cubic-bezier(0.43, 0.2, 0.43, 0.2) forwards infinite;
}
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--white);
    margin: 0px 5px 0px 0px;
}
.section {
    background-image: url("images/wave.png");
    background-position-x: center;
    background-position-y: -400px;

    border: 2px solid var(--theme); 
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    max-height: 198px; 
    margin-left: 212px; margin-right: 212px;
}

.section-gray {
    background-image: url("images/wave-gray.png");
    background-position-x: center;
    background-position-y: -400px;

    border: 2px solid rgb(82, 82, 82); 
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    max-height: 198px; 
    margin-left: 220px; margin-right: 220px;
}

.img-r {
    max-width: 100px; min-width: 100px;
    max-height: 96px; min-height: 96px;
    max-width: 100%;
    margin: var(--imagemargin) var(--imagemargin) var(--imagemargin) var(--imagemargin);
    max-width: 250px;
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to right, var(--gradientstart), var(--lighttheme));
    padding: 7px;
}

.img-t {
    max-width: 100px; min-width: 100px;
    max-height: 96px; min-height: 96px;
    max-width: 100%;
    margin: var(--imagemargin) var(--imagemargin) var(--imagemargin) var(--imagemargin);
    max-width: 250px;
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    padding: 7px;
}


.paragraph {
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    float: left;
}
.content {
    padding: 25px;
}
.content2 {
    padding: 10px;
}
.title {
    font-size: 24px;
    line-height: 24px;
}
.img-d {
    max-width: 180px; min-width: 180px;
    max-height: 184px; min-height: 184px;
    max-width: 100%;
    margin: var(--imagemargin) var(--imagemargin) var(--imagemargin) var(--imagemargin);
    max-width: 250px;
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to right, var(--gradientstart), var(--lighttheme));
    padding: 7px;
}

video {
    display: block;
    margin: 0 auto;
}

#episode button {
    background-color: white;
    border: 2px solid var(--white);
    min-width: 100%; max-width: 100%; 
    margin-left: 0px; margin-right: 0px;
}

#return button {
    background-color: white;
    border: 2px solid var(--theme);
    min-width: 30.5%; max-width: 30.5%;
    width: 30.5%;
    margin-left: 19.2%; margin-right: auto;
    /*align-self: center;*/

    display: block;
}




#youtube button {
    margin-left: 220px; margin-right: 220px;
    min-width: 100%; max-width: 100%;
}

.section2 {
    background-image: url("images/wave.png");
    background-position-x: center;
    background-position-y: -400px;

    border: 2px solid var(--theme); 
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    max-height: 100px; 
    margin-left: 220px; margin-right: 220px;
}

.float-left {
    float: left;
}